/* *************************** PODIUM ************************** */

#the-box {
	font-size: 2vh;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 10vh;
	margin-bottom: 3vh;
	width: 70vw;
	height: 30vh;
	border-radius: 3vh;
	background-color: rgb(54, 64, 83);
}

#deuxieme-place {
	position: relative;
	top: 15vh;
	left: 5vw;
	
	width: 20vw;
	height: 15vh;
	border-top-left-radius: 1.5vh;
	/*background-color: pink;*/
	background-color: rgb(91, 96, 117);
}
#deuxieme-place li {
	position: relative;

	text-align: center;
	top: 3vh;
	color: silver;
}

#premiere-place {
	position: relative;
	top: -7vh;
	left: 25vw;
	
	width: 20vw;
	height: 22vh;
	border-top-left-radius: 1.5vh;
	border-top-right-radius: 1.5vh;
	/*background-color: white;*/
	background-color: rgb(91, 110, 128);
}
#premiere-place li {
	position: relative;

	text-align: center;
	top: 3vh;
	color: gold;
}

#troisieme-place {
	position: relative;
	top: -17vh;
	left: 45vw;
	
	width: 20vw;
	height: 10vh;
	border-top-right-radius: 1.5vh;
	/*background-color: black;*/
	background-color: rgb(33, 55, 75);
}
#troisieme-place li {
	position: relative;

	text-align: center;
	top: 3vh;
	color: #A07155;
}

/* *************************** Game name ************************** */

#title-game {
	line-height: 5.25vh;

	font-size: 3.5vh;
	font-weight: bold;

	position: relative;
	text-align: center;
	font-weight: bold;
	

	margin-left: 15vw;
	margin-top: 5%;
	height: 5vh;
	width: 70vw;

	border-top-left-radius: 2vh;
	border-top-right-radius: 2vh;
	background-color: rgb(54, 64, 83);
}

/* *************************** Game box ************************** */

#box-game {
	position: relative;

	margin-left: 15vw;
	height: 30vh;
	width: 70vw;


	background-color: #3D6387;
}

#left-racket {
	position: relative;

	margin-left: 3%;
	top: 3vh;

	height: 7vh;
	width: 2vh;
	border-radius: 2vh;

	background-color: #BD6D30;
}

#right-racket {
	position: relative;

	left: 94%;
	top: 10vh;

	height: 7vh;
	width: 2vh;
	border-radius: 2vh;

	background-color: #BD6D30;
}

#ball {
	position: relative;

	left: 30%;
	top: 25%;

	height: 2.5vh;
	width: 2.5vh;
	border-radius: 100%;

	background-color: black;
}

/* *************************** Game choose ************************** */

#choose-game {
	font-size: 2vh;
	font-weight: bold;
	
	position: relative;

	margin-left: 15vw;
	height: 10vh;
	width: 70vw;
	
	border-bottom-left-radius: 2vh;
	border-bottom-right-radius: 2vh;

	background-color: rgb(54, 64, 83);
}
#choose-game :hover{
	transition: 0.5s;
	background-color: #EDDCD1;
	
	transform: scale(1.2);
	color: #BD6D30;
}

#boutton-normal {
	transition: 0.5s;
	text-align: center;
	line-height: 5.25vh;

	position: relative;
	cursor: pointer;

	top: 2.5vh;
	margin-left: 10%;
	
	height: 5vh;
	width: 15vw;

	border-radius: 1vh;
	
	background-color: rgb(91, 110, 128);
}

#boutton-ranked {
	transition: 0.5s;
	text-align: center;
	line-height: 5.25vh;

	position: relative;
	cursor: pointer;

	margin-left: 1.5vw;
	left: 40%;
	bottom: 2.5vh;
	
	height: 5vh;
	width: 15vw;

	border-radius: 1vh;
	
	background-color: rgb(91, 110, 128);
}

#boutton-mod {
	transition: 0.5s;
	text-align: center;
	line-height: 5.25vh;

	position: relative;
	cursor: pointer;

	margin-left: 1.5vw;
	left: 70%;
	bottom: 7.5vh;
	
	height: 5vh;
	width: 15vw;

	border-radius: 1vh;
	
	background-color: rgb(91, 110, 128);
}


/* *************************** Challenge ************************** */

#challenge-bar {
	position: relative;
	border-radius: 5vh;
	top: 0.5vh;
	margin-left: 25%;
	width: 50%;

	background-color: #3D6387;
}

#chall-nb {
	width: 47.619%;
	border-radius: 5vh;
	background-color: #BD6D30;
	
	text-align: center;
	font-size: 2vh;
}

#box-challenge {
	margin-top: 5vh;
	margin-left: 15vw;
	margin-bottom: 5vh;
	height: 51vh;
	width: 70vw;
	border-radius: 3vh;
	background-color: rgb(54, 64, 83);
}

#chall-avance {
	text-align: center;
	font-weight: bold;
	font-size: 2vh;
	color: #BD6D30;
}

/*   CHALL 6 BOX   */

#chall-top-left {

	margin-top: 1vh;
	margin-left: 4%;
	border-radius: 0.5vh;
	background-color: #3D6387;
	height: 29%;
	width: 45%;
}

#chall-top-right {
	position: relative;
	bottom: 31%;
	left: 51%;
	margin-top: 1vh;
	border-radius: 0.5vh;
	background-color: #3D6387;
	height: 29%;
	width: 45%;
}

#chall-mid-left {

	position: relative;
	bottom: 32%;

	margin-top: 1vh;
	margin-left: 4%;

	border-radius: 0.5vh;
	background-color: #3D6387;
	height: 29%;
	width: 45%;
}

#chall-mid-right {
	position: relative;
	bottom: 63%;
	left: 51%;
	margin-top: 1vh;
	border-radius: 0.5vh;
	background-color: #3D6387;
	height: 29%;
	width: 45%;
}

#chall-bot-left {

	position: relative;
	bottom: 64%;
	
	margin-top: 1vh;
	margin-left: 4%;

	border-radius: 0.5vh;
	background-color: #3D6387;
	height: 29%;
	width: 45%;
}

#chall-bot-right {
	position: relative;
	bottom: 95%;
	left: 51%;
	margin-top: 1vh;
	border-radius: 0.5vh;
	background-color: #3D6387;
	height: 29%;
	width: 45%;
}
