html {
	background-color: #566573;
	color: rgba(255, 255, 255, 0.575);
}

body {
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	padding-top: 7vh;
	font-size: 2em;
}
header a {
	text-decoration: none;
}

/* *************************** NAVBAR ************************** */
header nav {
	overflow: hidden;
	background-color: #2C3E50;
	top: 0px;
	position: fixed;
	width: 100%;
}
header li{
	float: right;
	font-size: 3vh;
	color: #E59866;
	display: block;
	text-align: center;
	margin: 2vh 1.5vh;
}

header li a{
	color: #E59866;
}

#logo {
	font-weight: bold;
	float: left;
	margin-left: 10vh;
}

.menu-burger,
.menu-cb {
	appearance: none;
	position: absolute;
    left: 0.8vw;
    display: flex;
    flex-direction: column;
	justify-content: space-around;
	height: 3.4vh;
    background: transparent;
    border: none;
	cursor: pointer;
	padding: 2.3vh 2vw;
}

.menu-burger div {
	width: 2.8vw;
    height: 0.4vw;
    background: rgb(96, 125, 139);
	position: relative;
}

.menu-nav {
	position: fixed;
	left: 0;
	top: 7vh;
	background-color: #2C3E50;
	height: 100%;
	width: 90%;
	max-width: 40vh;
	padding: 1em;
	display: none;
}

.menu-item {

}

.menu-lien {

}

.menu-cb:checked ~ .menu-nav {
	display: block;
}

#useronline {
	background: rgb(34, 44, 49);
    display: flex;
    align-items: center;
    float: left;
    height: 5vh;
    margin: 1vh 3vw;
    border-radius: 1vh;
    font-size: 2.5vh;
    text-align: center;
    padding: 0px 1.5vw;
}

#useronline img {
	width: 6vw; 
	height: 5vh;
	align-items: center;
}

/* *************************** HOME ************************** */

/* *************************** FOOTER ************************** */

footer {
	background-color: #2C3E50;
	color: #E59866;
	text-align: center;
	bottom:0;
	width:100%;
	font-size: 2.4vh;
}

#icons a {
	color: white;
	margin: 0 2vh;
	font-size: 2vh;
}